@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

#root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  /* clr - color, fs - font size, ff - font family, fw - font weight */

  --clr-primary-400: hsl(259, 100%, 65%);
  --clr-primary-500: hsl(0, 100%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-125: hsl(0, 0%, 94%);
  --clr-neutral-150: hsl(0, 0%, 86%);
  --clr-neutral-500: hsl(0, 1%, 44%);
  --clr-neutral-900: hsl(0, 0%, 8%);

  --fs-base: 0.5rem;
  --fs-primary: 1rem;
  --fs-xl: 2rem;
  --fs-xxl: 5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

#root,
html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-neutral-150);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main-window {
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-100);
  border-radius: 3rem 3rem 12rem 3rem;
  padding: 4.5rem 3.5rem 3.5rem 3.5rem;
}

.age-input-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}

.date-period-input-field {
  height: 100%;
  width: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.date-period-input-field input {
  width: 100%;
  border-radius: 0.5rem;
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding: 0.75rem 0 0.75rem 1.5rem;
}

.date-period-input-field input::placeholder {
  color: var(--clr-neutral-500);
}

.date-period-input-field input:hover {
  cursor: url('./assets/images/icons8-hand-cursor-32.png'), pointer;
}

.time-period-input-title {
  font-size: var(--fs-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-500);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.days-error,
.months-error,
.years-error {
  color: var(--clr-primary-500);
  font-size: var(--fs-primary);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.button-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-section hr {
  flex-grow: 1;
}

.button-section button {
  height: 6.5rem;
  width: 6.5rem;
  background-color: var(--clr-primary-400);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
}

.button-section svg {
  height: 3rem;
  width: 3rem;
}

.button-section button:hover {
  background-color: var(--clr-neutral-900);
  cursor: url('./assets/images/icons8-hand-cursor-32.png'), pointer;
}

.age-output-section {
  display: flex;
  flex-direction: column;
}

.date-period-output-field {
  display: flex;
  flex-direction: row;
}

.years-age,
.months-age,
.days-age {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-extra-bold);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: var(--clr-primary-400);
}

.years-output,
.months-output,
.days-output {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-extra-bold);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: var(--clr-primary-900);
}

@media (max-width: 1024px) {
  html {
    --fs-xl: 1.5rem;
    --fs-xxl: 3.5rem;
  }

  .main-window {
    padding: 4.5rem 2rem 3.5rem 2rem;
    border-radius: 2.5rem 2.5rem 10rem 2.5rem;
  }

  .age-input-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .date-period-input-field {
    width: 30%;
  }
}

@media (max-width: 768px) {
  html {
    --fs-base: 0.1rem;
    --fs-primary: 0.8rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 3.25rem;
  }

  .main-window {
    padding: 4.5rem 2rem 3.5rem 2rem;
    border-radius: 2rem 2rem 8rem 2rem;
  }

  .date-period-input-field {
    width: 30%;
    gap: 0.5rem;
  }

  .date-period-input-field input {
    padding: 0.75rem 0 0.75rem 0.5rem;
  }

  .button-section button {
    height: 4.5rem;
    width: 4.5rem;
  }

  .button-section svg {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 600px) {
  html {
    --fs-base: 0.075rem;
    --fs-primary: 0.6rem;
    --fs-xl: 1.125rem;
    --fs-xxl: 2.4375rem;
  }

  .main-window {
    padding: 3.5rem 2rem 2.5rem 2rem;
    border-radius: 2rem 2rem 6.5rem 2rem;
  }
}

@media (max-width: 475px) {
  html {
    --fs-base: 0.05625rem;
    --fs-primary: 0.45rem;
    --fs-xl: 0.85rem;
    --fs-xxl: 1.825rem;
  }

  .main-window {
    padding: 2.5rem 2rem 1.5rem 2rem;
    border-radius: 1.5rem 1.5rem 4.5rem 1.5rem;
  }

  .button-section button {
    height: 3.5rem;
    width: 3.5rem;
  }

  .button-section svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  @media (max-width: 425px) {
    html {
      --fs-base: 0.05rem;
      --fs-primary: 0.4rem;
      --fs-xl: 0.7rem;
      --fs-xxl: 1.5rem;
    }

    .main-window {
      padding: 2rem 2rem 1rem 2rem;
      border-radius: 1rem 1rem 3rem 1rem;
    }

    .date-period-input-field input {
      padding: 0.5rem 0 0.5rem 0.35rem;
    }

    .button-section {
      margin-bottom: 20%;
    }

    .button-section hr {
      position: relative;
    }

    .button-section button {
      height: 2.5rem;
      width: 2.5rem;
      position: absolute;
      left: 45%;
    }

    .button-section svg {
      height: 1rem;
      width: 1rem;
    }
  }
}
